@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    font-family: "Nunito", sans-serif;

}


::-webkit-scrollbar {
    width: 5px; 
    height: 6px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: rgba(97, 97, 97, 0.164); 
    border-radius: 10px;
    
  }
  

  ::-webkit-scrollbar-track {
    background-color: transparent; 
  }
